body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 10px 0;
}

header a{
  color: #000;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0 20px;
  margin: 0;
  font-size: 20px;
}

@media screen and (max-width:420px) {
  header a{
    font-size: 15px;
  }
}

header a:hover{
  color: #000;
  text-decoration: none;
}

header h1 {
  height: 100%;
  font-weight: 700;
  font-family: 'Freestyle Script', sans-serif;
  margin: 0;
  font-size: 60px;
}

.navigation{
  display: flex;
  justify-content: flex-end;
  padding-top: 17px;
}

.user-name{
  font-weight: bold;
}

.header_drop{
  text-align: center;
}

.main_img {
  display: flex;
  align-items: center;
  max-width: 100%;
  background-image: url('image/infinitiredbullformula-1.jpg');
  background-size: cover;
  background-position: center;
  height: 90vh;
  color: #ffffff;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.main_img h2 {
  font-size: 15vh;
  font-weight: 700;
  margin: 80px 0;
}

.main_img h3 {
  font-size: 5vh;
  font-weight: 700;
}

section .row img {
  margin: 10px 0 30px;
  width: 100%;
  height: 30rem;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

@media screen and (max-width:480px) {
  section .row img {
    height: 22rem;
  }
}

@media screen and (max-height:1000px) and (max-width:1000px) {
  section .row img {
    width: 70%;
  }
}

section .row img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.name_price {
  font-size: 20px;
  text-align: center;
}

section .row figure {
  overflow:hidden;
  background-color: #ffffff;
  font-weight: bold;
}

section .row a{
  color: #000;
  text-decoration: none;
}

section .row figure:hover {
  color: #ffffff;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  background-color: #dacbb6;
}

.filters_hide{
  padding-top: 10px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  cursor: pointer
}

.filters{
  background-color: rgb(214, 192, 162);
}

.filters-main-field{
  padding: 0 20px 10px;
  background-color: #baa282;
}

.filters-main-field-items{
  padding: 10px 0;
}

.filters-item{
  padding: 10px 20px;
}

.filters label{
  font-size: 15px;
}

.search-button{
  margin: 20px 0;
}

section .footer-top-id {
  align-items:flex-end;
  list-style: none;
}

section .footer-top-id a{
  color: #fff1d8;
}

section .footer-top-id a:hover{
  color: #fff;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  text-decoration: none;
}

section .footer-top-id p{

  text-align: left;
  padding: 5px 0;
  font-size: 18px;
  color: #fff;
}

section .footer-top-id h4{

  text-align: left;
  padding: 15px 0;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

section .footer-top-id img {
  width: 35px;
  height: auto;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

section .footer-top-id img:hover {
  width: 40px;
  height: auto;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  box-shadow: 0 4px 16px 0 #fff;
  text-decoration: none;
}

.footer-top-id{
  padding: 10px 10px;
}

.footer-top{
  background-color: #d6c0a2;
}

.img_social_div{
  display: flex;
  padding: 0 10px 10px;
}

.img_social{
  width: 60px;
  height: 40px;

}

.info{
  padding: 20px;
}

section .info p{
  text-align: left;
  font-size: 18px;
  color: #fff;
}

section .info h4{
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

section iframe{
  width:100%;
  height:400px;
  border: 0;
}

.copy {
  padding: 10px 10px;
}

.copy p{
  text-align: left;
  color: #fff;
  font-size: 15px;
}

/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  padding: 0 0;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 30px;
  font-weight: bold;
  padding: 10px 20px 0;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 300px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
